<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <!-- JavaScript Bundle with Popper -->
</head>
<body>

<div class="container mt-5">
  <h3>MM1</h3>
  <form class='form' [formGroup]="mm1Form" (ngSubmit)="calcularMM1()">
    <div class="row mb-2">
      <div class="col-md-3">
        <div class="form-group">
          <label for="llegadasPromedio">Llegadas promedio (λ)</label>
          <input type="number" formControlName="llegadasPromedio" class="form-control" id="llegadasPromedio" required>
        </div>
        <div class="form-group">
          <label for="atendidoPorPeriodo">Cosas que se atienden por periodo (μ)</label>
          <input type="number" formControlName="atendidoPorPeriodo" class="form-control" id="atendidoPorPeriodo" required>
        </div>
        <div class="form-group">
          <label for="valorEvaluado">Quemado-Valor evaluado (k)</label>
          <input type="number" formControlName="valorEvaluado" class="form-control" id="valorEvaluado" required>
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group">
          <label for="numeroCanales">Numero canales (m)</label>
          <input type="number" formControlName="numeroCanales" class="form-control" id="numeroCanales">
        </div>
        <div class="form-group">
          <label for="costoServicio">Costo servicio (Cs)</label>
          <input type="number" formControlName="costoServicio" class="form-control" id="costoServicio">
        </div>
        <div class="form-group">
          <label for="costoInsatisfaccion">Costo insatisfaccion (Cw)</label>
          <input type="number" formControlName="costoInsatisfaccion" class="form-control" id="costoInsatisfaccion">
        </div>
      </div>
    </div>
    <button type="submit" class="btn btn-info">Calcular</button>
  </form>
  <h3>MMm</h3>

  <h3>MD1</h3>
</div>



</body>
</html>
